.google-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    border: #333 solid 2px;
    border-radius: 3px;
    width: 35%;
    padding: 5px;
}

.auth-field {
    border-radius: 4px;
    margin-bottom: 2px;
}

.error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff6666;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #333;
    z-index: 1000;
    text-align: center;
  }

  .authentication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .basic-auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
  }
  
  .google-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
    background-color: #4285f4;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
    margin-bottom:30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  input[type="username"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"], button[type="button"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  .test {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4285F4;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logout-button {
    max-width: 50%;
  }