.services-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.add-service {
    padding: 20px;
    margin: 5px;
    align-self: center;
    text-align: center;
    border: 2px solid rgb(19, 16, 16);
    border-radius: 4px;
}

.add-service:hover {
    cursor: pointer;
}